@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  color: #fff;
  background: url(../img/background_header.png) center no-repeat fixed;
  background-size: cover;
  padding-top: 50px;
}

.main-header .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .navigation-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-header .navigation-bar .logo .logo-text {
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}

.main-header .navigation-bar .logo .logo-text .low-fw {
  font-weight: 400;
}

.main-header .navigation-bar .logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.main-header .navigation-bar .navigation-menu a {
  margin: 0 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.main-header .navigation-bar .navigation-menu a:hover {
  color: #061e37;
}

.main-header .navigation-bar .sign-in_btn {
  background: none;
  width: 80px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.main-header .header-content__wrap {
  padding: 180px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .header-content__wrap .header-content__text {
  max-width: 550px;
}

.main-header .header-content__wrap .header-content__text .content-text__title {
  text-transform: uppercase;
  font-size: 55px;
  line-height: 65px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.main-header .header-content__wrap .header-content__text .content-text__description {
  font-size: 18px;
  line-height: 35px;
}

.main-header .header-content__wrap .header-content__text .content-text__btn {
  margin-top: 40px;
}

.main-header .header-content__wrap .header-content__text .content-text__btn .btn {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  background-color: #061e37;
  font-weight: 700;
  outline: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.main-header .header-content__wrap .header-content__text .content-text__btn .text-btn__buynow {
  font-weight: 400;
  margin-right: 30px;
}

.main-header .header-content__wrap .header-content__text .content-text__btn .text-btn__tryfree {
  background-color: #fff;
  color: #061e37;
}

.main-header .header-content__wrap .header-content__video video {
  height: 100%;
  width: 600px;
}

.easy {
  color: #061e37;
}

.easy .easy-title {
  font-size: 45px;
}

.easy h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #b0bec5;
  font-size: 25px;
}

.easy .easy-description {
  margin-top: 20px;
  max-width: 555px;
  margin-bottom: 100px;
  color: #b0bec5;
}

.easy .wrapper {
  padding: 100px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy .wrapper .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.easy .wrapper .card-wrapper .card {
  max-width: 345px;
  font-weight: 400;
  color: #061e37;
}

.easy .wrapper .card-wrapper .card i {
  font-size: 80px;
  color: #b388ff;
}

.easy .wrapper .card-wrapper .card h3 {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #061e37;
}

.easy .wrapper .card-wrapper .card p {
  font-size: 15px;
  color: #78909c;
}

.easy .wrapper .defaultBtn {
  width: 150px;
  height: 55px;
  background-color: #1de9b6;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

@media (max-width: 1224px) {
  .header-content__wrap {
    padding: 150px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-content__wrap .header-content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .header-content__wrap .header-content__video {
    margin-top: 40px;
  }
}

@media (max-width: 610px) {
  .header-content__video video {
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */