@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

@mixin Ral {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
@mixin RalSemiBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
@mixin RalExtraBold {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}